@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --foreground: #181818;

    --card: #fff;
    --card-foreground: #323232;

    --primary: #ff793f;
    --primary-foreground: #fff;

    --secondary: #11ccef;
    --secondary-foreground: #fff;

    --muted: #f4f4f4;
    --muted-foreground: #323232;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: #4b4b4b;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

* {
  font-family: 'Bebas Neue', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #fff;

    --card: #323232;
    --card-foreground: #fff;

    --muted: #323232;
    --muted-foreground: #9a9999;
  }
}
