@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #181818;

    --card: #e6e6e6;
    --card-foreground: #323232;

    --primary: #ff793f;
    --primary-foreground: #fff;

    --secondary: #ff793f;
    --secondary-foreground: #fff;

    --muted: #f4f4f4;
    --muted-foreground: #323232;

    --border: #4b4b4b;

    --radius: 0.5rem;

    --destructive: #ff5252;

    --bronze: #cd7f32;
    --silver: #c0c0c0;
    --gold: #ffd700;
    --diamond: #b9f2ff;
    --immortal: #ff00ff;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

* {
  letter-spacing: 0.03em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #fff;

    --card: #323232;
    --card-foreground: #fff;

    --muted: #323232;
    --muted-foreground: #c5c5c5;

    --ring: #fff;

    --popover: #181818;

    --destructive: #f32f2f;
  }
}
